html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* Header Section */

.navbar {
    background-color: #000;
    color: #FFF;
    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: #FFF;
    text-decoration: none;
}

/* Main Section */

section {
    border: 2px solid black;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}



figcaption li {
    list-style-type: none;
}

/* Colors Section */

.color-box {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    width: 155px;
}

.color-box ul {
    font-size: .75em;
    margin: 0px;
    padding-left: 15px;
}

.color-box figcaption {
    height: 100px;
    width: 145px;
    border-radius: 15px;
    margin-right: 5px;
    text-align: left;
    padding-top: 15px;
    padding-left: 20px;
}

.color-box details {
    text-align: left;
    padding: 10px 0px 0px 20px;
    font-family: 'quattrocento', serif;
    font-size: .9em;
}

.bl-orange {
    color: black;
    background-color: #F47B29;
}

.bl-blue {
    background-color: #09233C;
    color: white;
}

.bl-dawn {
    background-color: #439797;
    color: black;
}

.bl-dusk {
    background-color: #5f1a54;
    color: white;
}

.bl-mist {
    background-color: #A3B9C9;
    color: black;
}

.color-name {
    font-size: 1em; 
    margin: 0px;
    padding: 0 0 5px 0;
}


/* Typography Section */

.font-box {
    display: inline-block;
    margin: 25px;
    vertical-align: top;
    width: 45%;
    line-height: 25px;
}

.font-box figcaption {
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 5px;
    text-align: left;
    padding: 5px 20px 15px 20px;
}

.font-box ul {
    font-size: 1em;
    margin: 0px;
    padding-left: 15px;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.quattrocento {
    font-family: 'quattrocento', serif;
}

.quattrocento-sans {
    font-family: 'quattrocento-sans', sans-serif;
}

.w400 {
    font-weight: 400;
}

.w700 {
    font-weight: 700;
}

.w400-italic {
    font-weight: 400;
    font-style: italic;
}

.w700-italic {
    font-weight: 700;
    font-style: italic;
}



/* Text Styles Section */